<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Car Movement Visualization</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="container">
      <div class="car-container">
        <img id="car" src="/img/car.png" alt="Car" />
        <div id="indicators">
          <img id="arrow-up" src="/img/arrow.webp" alt="Forward" />
          <img id="arrow-down" src="/img/arrow.webp" alt="Backward" />
          <img id="arrow-left" src="/img/arrow.webp" alt="Left" />
          <img id="arrow-right" src="/img/arrow.webp" alt="Right" />
        </div>
      </div>
      <div id="warning" class="hidden">
        <img id="warning-sign" src="/img/warning.jpeg" alt="warning" />
        <!-- <div id="warning-text">Obstacle Ahead!</div> -->
      </div>
    </div>
    <audio id="warning-sound" preload="auto" loop>
      <source src="/sounds/warning.mp3" type="audio/mp3" />
    </audio>
    <script src="/script.js"></script>
  </body>
</html>
